body {
    margin: 60px 100px;
    font-family: Lato, Montserrat, sans-serif;
    background-color: black;
}
hr {
    color: white;
    margin: 60px 0;
}

.page_header {
    gap: 40px;
    width: 100%;
    display: flex;
    color: rgb(226, 226, 226);
    align-items: center;
    margin-top: 60px;
}
.page_header-profile img{
    height: 150px;
    border-radius: 60%;
}
.page_header-content {
    flex-direction: column;
    width: max-content;
    text-align: left;
}
.page_header-title {
    font-size: 48px;
    font-weight: 600;
}
.page_header-subtitle {
    font-size: 18px;
    letter-spacing: 5px;
    padding-left: 12px;
}
.page_header-social img{
    height: 30px;
    padding-top: 15px;
    padding-left: 12px;
    padding-right: 40px;
    transition: ease-in-out 0.6s;
}
.page_header-social img:hover {
    height: 50px;
    transition: height ease-in-out 0.6s;
}