body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}
a {
    text-decoration: none;
}

.header-section {
    display: flex;
    align-items: flex-end;
    margin: 0 60px;
}
.hero-content {
    margin-top: 188px;
    margin-left: 47px;
}
.hero-fn {
    font-size: 54px;
    font-weight: 600;
}
.hero-ln {
    font-weight: 300;
}
.hero-jp {
    font-size: 32px;
    font-weight: 300;
    padding-left: 15px;
}
.hero-desc {
    font-size: 20px;
    font-weight: 300;
    padding-left: 15px;
    line-height: 32px;
    margin-top: 25px;
    margin-bottom: 45px;
}

.contact-section {
    width: max-content;
}

.section-title {
    font-size: 26px;
    font-weight: 600;
}

.cs-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

.cs-lin {
    margin-left: 12px;
    font-size: 20px;
    font-weight: 300;
    color: black;
}

.edu-section {
    margin-top: 100px;
    max-width: 540px;
}

.wexp-item, .edu-item {
    display: flex;
    margin-top: 30px;
    cursor: pointer;
}

.exp-lin, .edu-lin {
    margin-left: 15px;  
    color: black;
}

.exp-company, .edu-company {
    font-size: 20px;
    font-weight: 500;
}

.exp-role, .edu-role {
    font-size: 20px;
    font-weight: 300;
}

.exp-period, .edu-period {
    font-size: 16px;
    font-weight: 300;
}

.first-section {
    display: flex;
    justify-content: space-between;
    margin: 60px;
}

@media  (max-width: 1023px) {
    .header-section{
        flex-direction: column;
        margin: 0;
    }
    .hero-fn, .hero-ln {
        font-size: 45px;
    }
    .hero-content{
        margin: 0 10px;
    }
    .hero-jp, .hero-desc {
        padding: 0;
    }
    .hero-desc{
        font-size: 18px;
        line-height: 24px;
    }
    .first-section {
        flex-direction: column;
        margin: 0 0 60px 0;
        gap: 100px;

    }
    .contact-section {
        max-width: unset;
        width: 100%;
        text-align: center;
        margin-top: 60px;
    }
    .cs-item{
        justify-content: center;
    }
    .section-title {
        text-align: center;
    }
    .fsecImg {
        display: none;
    }
    .wexp-item, .edu-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .wexp-item img, .edu-item img{
        height: 120px;
        width: 120px;
    }
    .exp-lin, .edu-lin {
        text-align: center;
        padding-top: 15px;
        max-width: 320px;
    }
}