body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}
a {
    text-decoration: none;
}

.header-section {
    display: flex;
    align-items: flex-end;
    max-width: 1170px;
    margin: 0 auto;
}
.hero-content {
   padding-left: 47px;
}
.hero-fn {
    font-size: 40px;
    font-weight: 600;
}
.hero-ln {
    font-weight: 300;
}
.hero-jp {
    font-size: 24px;
    font-weight: 300;
}
.hero-desc {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 25px;
}
.hero-btn button{
    border-radius: 10px;
    border: 1px solid black;
    background-color: transparent;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 25px;
}

.contact-section {
    width: max-content;
}

.section-title {
    font-size: 20px;
    font-weight: 600;
}

.cs-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

.cs-lin {
    margin-left: 12px;
    font-size: 20px;
    font-weight: 300;
    color: black;
}

.edu-section, .work-exp-section, .contact-section {
    margin: 50px 0;
}

.wexp-item, .edu-item {
    display: flex;
    margin-top: 30px;
    cursor: pointer;
}

.exp-lin, .edu-lin {
    margin-left: 15px;  
    color: black;
}

.exp-company, .edu-company {
    font-size: 20px;
    font-weight: 500;
}

.exp-role, .edu-role {
    font-size: 20px;
    font-weight: 300;
}

.exp-period, .edu-period {
    font-size: 16px;
    font-weight: 300;
}
.first-section {
    max-width: 1170px;
    margin: 0 auto;
}

@media  (max-width: 767px) {
    .header-section {
        flex-direction: column;
    }
    .hero-content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .wexp-item img, .edu-item img {
        width: 30px;
        height: 30px;
    }
    .section-content {
        font-size: 16px;
    }
    .first-section {
        padding-left: 10px;
        padding-right: 10px;
    }
    .exp-role, .hero-jp, .hero-desc, .edu-role, .exp-company, .edu-company {
        font-size: 16px;
    }
    .hero-fn, .hero-ln {
        font-size: 24px;
        margin-top: 20px;
    }
    .hero-btn button{
        font-size: 16px;
        padding: 15px 30px;
    }
}
/* Progressbar CSS */
.prbar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }

.progress-container {
    width: 100%;
    height: 4px;
    background: #ccc;
  }
  
  .progress-bar {
    height: 4px;
    background: #00fda8;
    width: 0%;
  }

  /* Hover Effects */
  .hero-btn button:hover{
      box-shadow: 3px 3px 10px 0 rgb(0, 253, 168, 0.6);
  }

  /* Text Animation */
 .hero-fn::before {
	top: 10;
	left: 10;
	width: 0;
	height: 10%;
	color: #00fda8;
	overflow: hidden;
	position: absolute;
	content: attr(data-text);
	border-right: 2px solid #00fda8;
	-webkit-text-stroke: 0vw #f7f7fe;
	animation: animate 10s linear infinite;
}

@keyframes animate {
	0%,
	10%,
	100% {
		width: 0;
	}

	70%,
	90% {
		width: 100%;
	}
}
